img {
  max-width: 100%;
}
.top_bar_element li {
  display: inline-block;
  margin: 4px 10px;
  font-size: 14px;
}
.top-bar {
  text-align: right;
}
img.lang_img {
  margin: 10px 6px;
}
select.lang_select {
  padding: 6px 16px 6px 3px;
  border: 0;
}
.plus {
  margin: 0 5px;
  font-size: 14px;
}
.top_bar_element li img {
  height: 16px;
}
img.screen_img {
  margin-right: 6px;
}

.top_head {
  background: #fff;
  border-bottom: 1px solid #efefef;
  height: 47px;
}

.header_main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bg-color {
  background-color: #f3f3f3;
}
.me-auto.navbar-nav a {
  font-weight: 700;
}
